.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.floatBoth {
    float: both;
}

.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}

.clearBoth {
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
